@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

/*MENU DE NAVEGACION*/


body {
  
  background-image: url('Fondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "PT Sans", sans-serif;
  
}

.nav {
  width: 100%;
  background-image: url('fondonav.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.5s ease;
}

.logo {
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 10px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; 
  font-weight: bold;
  transition: all 0.5s ease;
}

.menu li a:hover {
  padding: 15px 20px;
  background-color: #fcd320;
  color: black;
  border-radius: 15px;
}
/*FORMULARIO DE PAGO*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 120vh;
  background-image: url('Fondo.jpeg');
}

.container form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #27ae60;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}

.container form .submit-btn.loading {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .container form .submit-btn.loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background: #27ae60;
    animation: loading 2s linear infinite;
  }
  
.container form .submit-btn.sent {
    background: #2ecc71;
    animation: none;
}
  
@keyframes loading {
0% {
      width: 0;
}
50% {
      width: 50%;
}
100% {
      width: 100%;
}
}
 
  
  
  
  
  
  
